<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.earningfever.punjabidj">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PunjabiDJ"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".RequestSongActivity" />
        <activity android:name=".SingerSongsActivity" />
        <activity android:name=".SingersActivity" />
        <activity android:name=".SearchingSong" />
        <activity android:name=".SearchingActivity" />
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".VideoPlayerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>